/* ---------------------------------------------------------------------- */
/* Common                                                                 */
/* ---------------------------------------------------------------------- */
html {
  margin-right: 15px;
  margin-left: 15px;
}

body {
  background-color: #FFFFFF;
  color: #3A3A3A;
  font-family: "Open Sans", "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

:focus {
  outline: 0;
}

img {
  width: 100%
}

pre {
  background-color: #EEE;
  width: auto;
  max-height: 600px;
  overflow: auto;
  padding: 5px;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  vertical-align: baseline;
}

code {
  background-color: #EEE;
  padding: 1px 5px;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}

pre code {
   padding: 0px;
}

blockquote {
   padding: 5px;
   background-color: #EEE;
   border-left: 5px solid #666;
}

/* -------------------------------------------------- Link */
a {
  transition: color 0.2s ease-out 0s;
  color: #3A3A3A;
}

a:hover {
  color: #EE4938;
}

/* ---------------------------------------------------------------------- */
/* Components                                                             */
/* ---------------------------------------------------------------------- */
/* -------------------------------------------------- Header */
#header {
  height: 90px;
  max-width: 768px;
  margin: 1em auto 0;
}

/* -------------------------------------------------- Menus */
#menu {
  text-align: left;
  border-bottom: 2px solid #EEEEEE;
}

#menu a {
  text-decoration: none;
}

#menu ul {
  list-style-type: none;
  padding: 0px;
  margin: 10px 0 0 0;
}

#menu li {
   display: inline;
   padding-right: 15px;
}

#menu small {
   white-space: nowrap;
}

#menu-heading {
  font-size: 1.6em;
  font-weight: 700;
}
/* -------------------------------------------------- Content */
#content {
  max-width: 768px;
  margin: 0 auto;
}

/* ---------------------------------------------------------------------- */
/* Media Queries                                                          */
/* ---------------------------------------------------------------------- */
@media screen and (min-width : 769px) {
}

@media screen and (max-width : 768px) {
  #menu small {
     display: block;
  }
}

@media screen and (max-width : 480px) {
  #menu small {
     display: block;
  }
}
